.example-fill-remaining-space {
    flex: 1 1 auto;
}
.nav-btn {
    margin-right: 1.5em;
    background-color: #DDCBBD;
    color: rgba(124, 90, 52, 0.5);
    font-weight: bold;
}
.nav-btn:hover {
    background-color: #E0CB9E;

}
.mat-toolbar.mat-primary {
    background: rgba(124, 90, 52, 0.5);
    color: white;
    font-weight: bold;
}
.navContainer {
    width: 100%;
    margin: 0 auto;
}
.logoName {
    padding-left: 2em;
}

