<h1>Details</h1>
<hr>

<div class="container" *ngIf="kid">
  <!-- <div>
    <label for="">KidID:</label>
    <span>{{kid.KidID}}</span>
  </div> -->

  <div>
      <label for="">First Name: </label>
      <span>{{kid.FName}}</span>
  </div>

    <div>
        <label for="">Last Name: </label>
        <span>{{kid.LName}}</span>
    </div>

    <div>
        <label for="">DOB: </label>
        <span>{{kid.DOB | date}}</span>
    </div>

    <div>
        <label for="">Age: </label>
        <span>{{kid.Age}}</span>
    </div>

    <div>
        <label for="">Gender: </label>
        <span>{{kid.Gender}}</span>
    </div>
    <div>
            <label for="">About: </label>
            <span>{{kid.About}}</span>
        </div>

</div>
<br>
<button mat-button routerLink="/home">Back</button>
