/* .container {
    display: flex;
    flex-direction: column;
  
  }
   .wrapper {
     text-align: center;
  } 
  
  .title {
    text-align: center;
  } 
  
  .ul-wrapper {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
  }
  
  ul {
    list-style-type: none;
    text-decoration: none;
  }
  
  ul li {
    padding: 5px;
  }
  
  .kid-div {
    border-radius: 5px;
    background-color: rgb(248, 244, 244);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px rgba(124, 90, 52) solid;
    text-align: center;
    width: 400px;
    height: 200px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
  }
  .kid-div:hover {
      background-color: white;

  }

  .editdelete {
      float:right;
  }
  a {
      background-color: rgba(124, 90, 52);
      color: white;
  }

  a:hover {
    background-color: rgb(236, 60, 12);
  }
  h1 {
      color: rgba(124, 90, 52);
  }
  h2{
    font-weight: bold;
  } */
  .example-card {
    max-width: 400px;
    display: inline-flex;
    margin: 10px;
    background-color: rgb(248, 244, 244, .6);
    
  }
  
  .example-header-image {
    background-image: url('../../../assets/noimage_person.png');
    background-size: cover;
  }
  a {
    background-color: rgba(124, 90, 52);
    color: white;
  }
  button:hover{
    background-color: rgba(240, 203, 116, 0.425);
  }