h1{
    color: rgba(124, 90, 52);
   
    /* text-shadow:
    -.5px -.5px 0 brown,
    .5px -.5px 0 brown,
    -.5px .5px 0 brown,
    .5px .5px 0 brown; */
    margin-left: 670px;
    margin-right: 670px;
    background-color: rgba(255, 254, 254, 0.60);
}

button{
    margin-bottom: 50px;
    color: white;
    background-color: rgba(124, 90, 52);
   
}
.container{
    background-color:  rgba(255, 254, 254, 0.80);
    margin-left: 670px;
    margin-right: 670px;
    color: black;
   
}

label {
    color: black;
    font-weight: bold;
}
span{
    color: black;
}
.back{
    color: rgba(124, 90, 52);
    background-color: white;
}