<div class="wrapper">

  <h1>Create a Kid</h1>

  
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" [formGroup]="kidForm">
    <div class="container">
    <div>
      <mat-form-field>
        <input matInput placeholder="First Name" formControlName="FName" type="FName" required/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Last Name" formControlName="LName" type="LName" required/>
      </mat-form-field>
    </div>
    <div>

      <mat-form-field>
        <input matInput placeholder="DOB" formControlName="DOB" type="DOB" required/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Gender" formControlName="Gender" type="Gender" required/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="About" formControlName="About" type="About"/>
      </mat-form-field>
    </div>

  </div>
  <button mat-raised-button class="nav-btn" type="submit">Submit</button> |
  <a mat-raised-button routerLink="/home">Back to List</a>
</form>
</div>
