
h1{
    color: #4ABDAC;
   
    text-shadow:
    -.5px -.5px 0 black,
    .5px -.5px 0 black,
    -.5px .5px 0 black,
    .5px .5px 0 black;
    margin-left: 600px;
    margin-right: 600px;
    background-color: rgba(255, 254, 254, 0.60);
}

button{
    margin-bottom: 50px;
    color: white;
    background-color: #FC4A1A;
   
}
a{
    color: #4ABDAC;
    background-color: white;
}

    
