@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
/* Application-wide Styles */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Shadows Into Light Two', cursive;;
}
h1 {
    color: rgba(124, 90, 52);
    font-family: 'Shadows Into Light Two', cursive;;
    font-size: 250%;
  }
  h2, h3 {
    color: #444;
    font-family: 'Shadows Into Light Two', cursive;;
    font-weight: lighter;
  }
  body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #DFDCE3;
    background-image: url(../src/assets/pexels-photo-346796.jpeg);
    background-size: 100%;
    position: absolute;
    background-position: center;


    
  }
  body, input[type="text"], button {
    color: #888;
    font-family: Cambria, Georgia;
  }
  /* everywhere else */
  * {
    font-family: 'Shadows Into Light Two', cursive;
  }
